<h1> Petitions </h1>
<% @top_10.each do |petition| %>
  <%= link_to petition.title, petitions_path(petition.id) %>
  <%= "#{ petition.title } (needs #{ petition.signatures_needed })" %><br/>
<% end %>

