<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>About</h1>
      <p>Petition Kicker was made at the White House hackathon on June 1, 2013 for the National Day of Civic Hacking</p>
      <p>Petition Kicker uses the We the People API and promotes petitions close to completing the threshold and featured petitions</p>
    </div>
  </div>
</div>
