<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Featured Petitions</h1>
      <ul>
        <% @featured.each do |f| %>
          <% featured = WeThePeople::Resources::Petition.find(f.wtp_id) %>
        <li><%= link_to featured.title, petitions_path(f.wtp_id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
