<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Featured Petitions</h1>
      <ul>
        <li><%= link_to @featured.title, @featured.url, target: "_blank" %></li>
      </ul>
    </div>
  </div>
</div>
